h1, h3, h4 {
	color: #800000;
}

header h3 {
	margin-top: -30px;
}

body {
	font-family: cursive;
	/*background-image: linear-gradient(rgba(242, 242, 242, 1), rgba(242, 242, 242, 0.5));*/
	background-image: url("");
	background-repeat: no-repeat;
}

#navBar a:hover {
	background-color: #999;
}

#container {
		width: 950px;
		margin: auto;
}

#navBar {
		color: #800000;
		position: fixed;
		top: 80px;
		left: 0px;
}
	
.navItem{
	background-image: linear-gradient(rgba(119, 119, 119, 0.7), rgba(119, 119, 119, 0.2));
	background-repeat: no-repeat;
	border-top: 1px outset #999;
    border-bottom: 1px outset #777;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-right: 1px outset #777;
    height: 30px;
    list-style: none outside none;
    text-align: center;
    width: 100px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
	#navBar{
		position: relative;
		float: none;
		top: 0px;
	}

	.navItem{
		display: inline-block;
	}

	#profileContainer {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

.anchor {
	text-decoration: none;
	color: #800000;	
}


.clear {
	clear:both;
}

#profileContainer {
	background-image: linear-gradient(rgba(119, 119, 119, 0.7), rgba(119, 119, 119, 0.2));
	display: inline-block;
	border: 2px outset #A8A8A8;
	border-top-right-radius: 150px;
	border-bottom-right-radius: 150px;
	border-top-left-radius: 150px;
	border-bottom-left-radius: 150px;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 50px;
}


#businessDescription {
	font-family: cursive;
	max-width: 830px;
}

img {
	width: 200px;
	height: 200px;
	border-radius: 30px;
}

#imageContainer img {
	border: 2px inset #a52a2a;
}


#img_1 {
	position: relative;
	top: 40px; 
}

#img_2 {
	position: relative; 
	right: 10px;
	top: 20px;
}

#img_4 {
	position: relative;  
	right: 20px;
	top: 20px;
}

#img_5 {
	position: relative; 
	right: 30px;
	top: 40px;
}

.photoAlbum {
	padding: 10px;
	display: inline-block;
}

.photoAlbum img {
	border: 5px solid #800000;
}

#contactOrder a {
	text-decoration: none;
	color: red;
	font-size: 22px;
}

#socialNetwork a {
	margin-right: 10px;
}

.socialNetImg {
	height: 50px;
	width:  50px;
}